<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ServletWithoutMappingInspection -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>
		AFC Aldermaston
	</display-name>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	<absolute-ordering/>
	<!--<servlet>
		<servlet-name>SQLTimeZone</servlet-name>
		<servlet-class>com.bswdi.startup.SQLTimeZone</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<security-constraint>
    <web-resource-collection>
        <web-resource-name>AFC</web-resource-name>
        <url-pattern>/*</url-pattern>
        <http-method>GET</http-method>
        <http-method>POST</http-method>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>-->
</web-app>